.container {
  background-color: #f6f6f1;
  padding-bottom: 4rem;
}

.booklist {
  width: 90vw;
  max-width: 74rem;
  margin: 5rem auto 0rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.heading {
  text-align: center;
  background-color: #1163aa;
  color: white;
  padding-block: 2rem;
  text-transform: capitalize;
  font-size: 5rem;
}

.book {
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  padding: 0.75rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: #2499c0;
  color: #fff;
}

.book img {
  width: 100%;
  object-fit: cover;
}

.book h2 {
  margin-top: 1rem;
  font-size: 1rem;
}

.book h4 {
  color: #617d98;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  letter-spacing: 2px;
}

@media screen and (max-width: 1020px) {
  .booklist {
    grid-template-columns: repeat(2, 1fr);
  }
  .heading {
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .booklist {
    grid-template-columns: 1fr;
  }
  .heading {
    font-size: 3rem;
  }
}
